{% extends "iwantit/template.html" %}
{% block navlist %}
<li class="active"><a href="/iwantit/">Home</a></li>
<li><a href="/iwantit/profile">Profile</a></li>
<li><a href="/iwantit/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to I Want It</h1>
        <p class="lead">This is a cool system where you can give away items that you no longer need in exchange for stuffs that you may desire for!</p>
        <div class= "row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <a class="btn btn-primary" href="/iwantit/shareit/" role="button" style="width: 200px !important;" >Share an Item</a>
              <span class="text-muted">OR</span>
              <a class="btn btn-primary" href="PickIt.html" role="button" style="width: 200px !important;">Pick an Item</a>
          </div>
        </div>
    </div>

    <!-- LATEST ITEMS-->
    <div class="page-header">
      <h1>Latest Items <small>Hurry up! Get those awesome things before others!</small></h1>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">$20 Amazon Voucher</h4>
          </div>
          <div class="modal-body">
            Price: 20 pts
            For more details, please contact Dat Gay =))
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Pick It</button>
          </div>
        </div>
      </div>
    </div>

    <div class="menu thumbnail-row row">
    {% for prod in prod_result %}
      <div class="menu-category panel panel-default" id="detail{{ prod.0 }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ prod.3 }} <small>{{ prod.6 }} pts</small></h3>
        </div>
        <div class="panel-body">
        <p class="text-justified">
          <img src="{{ prod.5 }}" class="img-responsive center-block" style="max-width:180px !important;">
        </p>
        </div>
        <div class="panel-footer">
            <button id="pickit" class="btn btn-primary btn-block" onclick="makeAjaxCall({{ prod.0 }})" >Pick It!</button>
        </div>
      </div>

        <script>
            $(function () {
                $('#detail{{ prod.0 }}').popover({
                    'placement': 'auto',
                    'trigger': 'hover',
                    'html': 'true',
                    'content': '<table class="table"><tbody><tr><td class="text-muted">Name</td><td>{{ prod.3 }}</td></tr><tr><td class="text-muted">Description</td><td>{{ prod.4 }}</tr><tr><td class="text-muted">Cost</td><td>{{ prod.6 }} pts</td></tr><tr><td class="text-muted">Status</td><td>{{ prod.7 }}</td></tr><tr><td class="text-muted">Donated Date</td><td>{{ prod.8 }}</td></tr><tr><td class="text-muted">Donor</td><td>{{ prod.9 }}</td></tr></tbody></table>'
            }); });


            $('.btn btn-primary btn-block').click(function(e){
                alert("clicked");
            });
        function makeAjaxCall(itemID){
            $.ajax({
            type: 'post',
            url: "pickitem/",
            data: {
                'itemID':itemID
            },
            success: function (msg) {
                alert(msg);

            },
            error: function (msg) {
                alert(msg);
            }
        });
        }


        </script>
    {% endfor %}
    </div>
{% endblock %}
