{% extends "iwantit\template.html" %}
{% block navlist %}
<li class="active"><a href="/iwantit/">Home</a></li>
<li><a href="/iwantit/profile">Profile</a></li>
<li><a href="/iwantit/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to I Want It</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <div class= "row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <a class="btn btn-success" href="/iwantit/shareit/" role="button" style="width: 200px !important;" >Share an Item</a>
              <span class="text-muted">OR</span>
              <a class="btn btn-success" href="/iwantit/vault/" role="button" style="width: 200px !important;">Pick an Item</a>
          </div>
        </div>
    </div>

    <!-- LATEST ITEMS-->
    <div class="page-header">
      <h1>Latest Items <small>Hurry up! Get those awesome things before others!</small></h1>
    </div>

    <div class="menu thumbnail-row row">
    {% for prod in prod_result %}
      <div class="menu-category panel panel-default" id="detail{{ prod.0 }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ prod.3 }} <small>{{ prod.6 }} pts</small></h3>
        </div>
        <div class="panel-body">
        <p class="text-justified">
          <img src="{{ prod.5 }}" class="img-responsive center-block" style="max-width:180px !important;">
        </p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary btn-block">Pick It!</button>
        </div>
      </div>

        <script>
            $(function () {
                $('#detail{{ prod.0 }}').popover({
                    'placement': 'auto left',
                    'trigger': 'hover',
                    'html': 'true',
                    'content': '<table class="table"><tbody><tr><td class="text-muted">Name</td><td>{{ prod.3 }}</td></tr><tr><td class="text-muted">Description</td><td>{{ prod.4 }}</tr><tr><td class="text-muted">Cost</td><td>{{ prod.6 }} pts</td></tr><tr><td class="text-muted">Status</td><td>{{ prod.7 }}</td></tr><tr><td class="text-muted">Donated Date</td><td>{{ prod.8 }}</td></tr><tr><td class="text-muted">Donor</td><td>{{ prod.9 }}</td></tr></tbody></table>'
            }); });
        </script>
    {% endfor %}
    </div>
{% endblock %}
