{% extends "iwantit/template.html" %}
{% block navlist %}
<li><a href="/iwantit/">Home</a></li>
<li class="active"><a href="/iwantit/profile">Profile</a></li>
<li><a href="/iwantit/contact">Contact</a></li>
{% endblock %}
{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{ user.6 }}" alt="{{ user.0 }}'s photo" style="width:170px !important; height:170px !important" class="img-thumbnail" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><strong>{{ user.0 }}</strong></h4>
                        <h5><strong>Account Info</strong></h5>
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-muted">Point</td>
                                        <td>{{ user.7 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Shared items</td>
                                        <td>{{ user.8 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Picked items</td>
                                        <td>{{ user.9 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        <h5><strong>Basic Info</strong></h5>
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-muted">Address</td>
                                        <td>{{ user.1 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Birthday</td>
                                        <td>{{ user.2 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Gender</td>
                                        <td>{% if user.3 == 'M' %}Male{% endif %}
                                            {% if user.3 == 'F' %}Female{% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        <h5><strong>Contact Info</strong></h5>
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-muted">Email</td>
                                        <td>{{ user.4 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Phone</td>
                                        <td>{{ user.5 }}s</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
<div class="col-xs-6 col-sm-3 col-md-3">
    <h5>Donated Items</h5>
    <div class="menu">
        {% for donation in donations %}
            <div class="menu-category panel panel-default" id="detail{{ donation.0 }}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ donation.3 }} <small>{{ donation.6 }} pts</small></h3>
                </div>
                <div class="panel-body">
                <p class="text-justified">
                  <img src="{{ donation.5 }}" class="img-responsive center-block" style="max-width:180px !important;">
                </p>
                </div>
              </div>
              <script>
                    $(function () {
                        $('#detail{{ donation.0 }}').popover({
                            'placement': 'left',
                            'trigger': 'hover',
                            'html': 'true',
                            'content': '<table class="table"><tbody><tr><td class="text-muted">Name</td><td>{{ donation.3 }}</td></tr><tr><td class="text-muted">Description</td><td>{{ donation.4 }}</tr><tr><td class="text-muted">Cost</td><td>{{ donation.6 }} pts</td></tr><tr><td class="text-muted">Status</td><td>{{ donation.7 }}</td></tr><tr><td class="text-muted">Donated Date</td><td>{{ donation.8 }}</td></tr></tbody></table>'
                    }); });
                </script>
        {% endfor %}
    </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3">
    <h5>Redeemed Items</h5>
    <div class="menu">
        {% for redeem in redeems %}
            <div class="menu-category panel panel-default" id="detail{{ redeem.0 }}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ redeem.3 }} <small>{{ redeem.6 }} pts</small></h3>
                </div>
                <div class="panel-body">
                <p class="text-justified">
                  <img src="{{ redeem.5 }}" class="img-responsive center-block" style="max-width:180px !important;">
                </p>
                </div>
              </div>
              <script>
                    $(function () {
                        $('#detail{{ redeem.0 }}').popover({
                            'placement': 'left',
                            'trigger': 'hover',
                            'html': 'true',
                            'content': '<table class="table"><tbody><tr><td class="text-muted">Name</td><td>{{ redeem.3 }}</td></tr><tr><td class="text-muted">Description</td><td>{{ redeem.4 }}</tr><tr><td class="text-muted">Cost</td><td>{{ redeem.6 }} pts</td></tr><tr><td class="text-muted">Status</td><td>{{ redeem.7 }}</td></tr><tr><td class="text-muted">Donated Date</td><td>{{ redeem.8 }}</td></tr></tbody></table>'
                    }); });
                </script>
        {% endfor %}
    </div>
</div>
{% endblock %}