{% extends "iwantit\template.html" %}
{% block navlist %}
<li><a href="/iwantit/">Home</a></li>
<li class="active"><a href="/iwantit/profile">Profile</a></li>
<li><a href="/iwantit/contact">Contact</a></li>
{% endblock %}
{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/500x500" alt="" class="img-circle img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><strong>Bhaumik Patel</strong></h4>
                        <h5><strong>Basic Info</strong></h5>
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-muted">Address</td>
                                        <td>San Francisco, USA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Birthday</td>
                                        <td>June 02, 1998</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Gender</td>
                                        <td>Male</td>
                                    </tr>
                                </tbody>
                            </table>
                        <h5><strong>Contact Information</strong></h5>
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-muted">Email</td>
                                        <td>email@example.com</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">Phone</td>
                                        <td>999999</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}